body{
    background-color: #EDEDED;
}
/* Nav Bar */

.nav-size{

    border-radius: 12%;
    height: 80px;
    width: 110px;
    padding: 8px;

}

.nav-link{
    color: #353535;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    margin: 0 1.75rem;
    
}
.nav-link:hover{
    color: #B73A2A;
    text-decoration: underline;
}
.sale-decoration{
    color: #B73A2A;
}

/* Hero Image */

.hero-image{
    width: 100%;
    height: auto;
}

.hero-sale-background{
    background-color: #1e2c20;
}

.hero-sale-text{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding: 30px 0 5px;
}